{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block content %}

<section class="section-conten padding-y bg">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
{% include 'includes/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block" style="padding-left:10px;">Logged in as:</strong>
			<span>{{ user.full_name }}</span>
		</header>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-6" style="padding-bottom: 10px;">
					<div class="card" style="text-align: center; padding: 5px 0;">
						<div class="card-body">
							<h5 class="card-title">Total orders</h5>
							<h4>{{ orders.count }}</h4>
							<a href="{% url 'my_orders' %}">View orders</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card" style="text-align: center;">
						<div class="card-body">
							{% if userprofile.profile_picture %}
							<img src="{{ userprofile.profile_picture.url }}" alt="Profile Picture" width="50" height="50" style="border-radius:50px;">
							{% else %}
							<img src="{% static './images/avatars/default.png' %}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;">
							{% endif %}
							<p class="mb-0" style="padding-top:10px">Email: {{ user.email }}</p>
							<p>Phone number: {{ user.phone_number }}</p>
						</div>
					</div>
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}