{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ product.product_name }}</title>
{% endblock %}

{% block content %}
<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap">
	<div class="img-big-wrap main-image">
	   <center><img src="{{ product.image.url }}"></a></center>
	</div> <!-- img-big-wrap.// -->

</article> <!-- gallery-wrap .end// -->
			<ul class="thumb">
				<li>
					<a href="{{ product.image.url }}" target="main-image"><img src="{{ product.image.url }}" alt="Product image"> </a>
					{% for i in product_gallery %}
					<a href="{{i.image.url}}" target="main-image"><img src="{{i.image.url}}" alt="Product image"> </a>
					{% endfor %}
				</li>
			</ul>
		</aside>
		<main class="col-md-6 border-left">
			<form action="{% url 'add_cart' product_id=product.id %}" method="POST">
				{% csrf_token %}
<article class="content-body">

<h2 class="title">{{ product.product_name }}</h2>
	{% if product.average_review %}
	<div style="padding: 4px 0 8px;">
		<span class="review-stars">
			<i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o{% endif %}"></i>
			<i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o{% endif %}"></i>
			<i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o{% endif %}"></i>
			<i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o{% endif %}"></i>
			<i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o{% endif %}"></i>
		</span>
		<a href="#" id="click-review" style="padding-left:5px; font-weight:500;">{{ product.count_review }} {% if product.count_review == 1 %}review {% else %}reviews{% endif %}</a>
	</div>
	{% endif %}

<div class="mb-3">
	<var class="price h4">${{ product.price }}</var>
</div>

<p>{{ product.description }}</p>


<hr>
	<div class="row pl-2">
		<div class="item-option-select">
			<h6>Choose Color</h6>
			<select name="color" class="form-control" required>
				<option value="" selected disabled>Select</option>
				{% for i in product.variation_set.colors %}
				<option value="{{ i.variation_value | lower}}">{{ i.variation_value | capfirst}}</option>
				{% endfor %}
			</select>
		</div>
	</div> <!-- row.// -->
	<div class="row pl-2">
		<div class="item-option-select">
			<h6>Select Size</h6>
			<select name="size" class="form-control" required>
				<option value="" selected disabled>Select</option>
				{% for i in product.variation_set.sizes %}
				<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
				{% endfor %}
			</select>
		</div>
	</div> <!-- row.// -->
	<hr>
	{% if product.stock <= 0 %}
	<h4 class="text-danger">Out of stock</h4>
	{% else %}
	<button type="submit" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
	{% endif %}
</article> <!-- product-info-aside .// -->
				</form>
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<div class="row">
			<div class="col-md-9">

	<header class="section-heading">
		<h3 class="pl-1">Customer Reviews </h3>

	</header>
				<div style="max-width:900px;">
				{% include 'includes/alerts.html' %}
				</div>
				{% if user.is_authenticated %}
	<form action="{% url 'submit_review' product_id=product.id %}" method="POST">
    {% csrf_token %}
		<h5 class="pl-1">Write your review</h5>
		<div>
			<label class="pl-1 pt-1">How do you rate this product?</label>
			<br>
			<div class="rate" style="padding:2px 0;">
				<input type="radio" name="rating" id="rating10" value="5" required> <label for="rating10" title="5"></label>
				<input type="radio" name="rating" id="rating9" value="4.5" required> <label for="rating9" title="4.5" class="half"></label>
				<input type="radio" name="rating" id="rating8" value="4" required> <label for="rating8" title="4"></label>
				<input type="radio" name="rating" id="rating7" value="3.5" required> <label for="rating7" title="3.5" class="half"></label>
				<input type="radio" name="rating" id="rating6" value="3" required> <label for="rating6" title="3"></label>
				<input type="radio" name="rating" id="rating5" value="2.5" required> <label for="rating5" title="2.5" class="half"></label>
				<input type="radio" name="rating" id="rating4" value="2" required> <label for="rating4" title="2"></label>
				<input type="radio" name="rating" id="rating3" value="1.5" required> <label for="rating3" title="1.5" class="half"></label>
				<input type="radio" name="rating" id="rating2" value="1" required> <label for="rating2" title="1"></label>
				<input type="radio" name="rating" id="rating1" value="0.5" required> <label for="rating1" title="0.5" class="half"></label>
			</div>
			<br>
			<h6 class="pl-1">Review Title:</h6>
			<input type="text" class="form-control" name="subject">
			<br>
			<h6 class="pl-1">Review</h6>
			<textarea name="review" rows="4" class="form-control"></textarea>
			<br>
			<input class='btn btn-primary' type="submit" value="Submit Review">
		</div>
	</form>
				{% else %}
				<p class="pl-2" style="font-size:1.1rem;;">You have to <span><a href="{% url 'login' %}">login</a></span> to post a review</p>
				{% endif %}
	<br>
				<div id="start-reviews"></div>
				{% for review in reviews %}
	<article class="box mb-3">

		<div class="icontext w-100">
			{% if review.user.userprofile.profile_picture %}
			<img src="{{ review.user.userprofile.profile_picture.url }}" class="img-xs icon rounded-circle">
			{% else %}
			<img src="{% static './images/avatars/default.png' %}" class="img-xs icon rounded-circle">
			{% endif %}
			<div class="text">
				<span class="date text-muted float-md-right">{{ review.updated_date }} </span>
				<h6 class="mb-1">{{ review.user.full_name }} </h6>
				<div class="review-stars">
					<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>

					</div>

			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<h6>{{ review.subject }}</h6>
			<p>
				{{ review.review }}
			</p>
		</div>

			</article>
				{% endfor %}



	</div> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	        $(document).ready(function (){
            $("#click-review").click(function (){
                $('html, body').animate({
                    scrollTop: $("#start-reviews").offset().top
                }, 1000);
            });
        });
</script>

<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.main-image img').attr('src', $(this).attr("href"));
		})
	})
</script>

{% endblock %}